

h1 {
color: #f2ccff;
font-family: 'Press Start 2P', cursive;

}
h2 {
color: #cce6ff;
}
h3 {
color: #ffccd9;
font-family: 'Ultra', serif;
}
body {
background-image: url("maxresdefault (1).jpg");
background-size: cover;
margin-right: auto;
}
